{% extends 'base.html' %}
{% block mainhead %}
<title>信息管理</title>
{% load static %}
<script src="{% static "js/jquery.js" %}"></script>
{% endblock mainhead %}

{% block maintitle %}
<h1>信息管理</h1>
{% endblock maintitle %}

{% block mainbody %}
<table class="pure-table" style="width: 100%;">
    <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>类别</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        {% for specialist in specialists %}
        <tr id="{{ specialist.id }}">
            <td><a href="/specialist/view?id={{specialist.id}}" target="view_window">{{ specialist.name }}</a></td>
            <td>{{ specialist.sex }}</td>
            <td>{{ specialist.category.name }}</td>
            <td>
                <a href="/specialist/del?id={{specialist.id}}"><span>删除</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "paginator.html" %}
{% endblock mainbody %}