.form-center {
    margin: auto;
    width: 24em;
    color: #777;
    text-align: center;
}
.form-center input, .form-center button, .form-center a {
    width: 100%;
}

.form-left {
    width: 60%;
}
.form-left input, .form-left button, .form-left a, .form-left select{
    width: 60%;
}
.form-left label{
    width: 30%!important;
}

@media (max-width: 24em) {
    .form-center {
        width: 90%;
    }
    .form-left input, .form-left button, .form-left a, .form-left select{
        width: 100%;
    }
    .form-left label{
        width: 100%!important;
    }
}

@media (max-width: 64em) {
    .form-left {
        width: 90%;
    }
}

.error {
    color: red;
    font-size: 14px;
    margin: 0;
    float: left;
}

.input-error {
    border-color: red!important;
}

.fr {
    float: right;
    margin: 0 10px 0 0;
}

.detail-info {
    width: 48em;
    margin: auto;
}

@media (max-width: 24em) {
    .detail-info {
        width: 90%;
        margin: auto;
    }
}